<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{sevaType | titlecase}} Seva Bookings</ion-title>
    <ion-buttons slot="end" *ngIf="isVoluteer()">
      <ion-button (click)="openMemberSearch()">
        <ion-icon name="search-outline"></ion-icon> &nbsp;Search
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-member-details [memberDetails]="memberDetails"></app-member-details>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="tertiary" (click)="goToAddSevasPage()">Go to Add Sevas Page</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>