<ion-list>
    <ion-item>
        <ion-label>
            <h2>Member name</h2>
            <ul>
                <li>Ratri Pooja</li>
                <li>Madhyaana Pooja Seva</li>
            </ul>
            <p>Total amount: ₹1200</p>
            <p>Mode of Payment: <b>Cheque</b></p>
            <p>Chq no: <b>435345353</b>, Micr No. <b>87687868687</b></p>
        </ion-label>
        <ion-badge slot="end" color="warning">Pending</ion-badge>
    </ion-item>
    <ion-item>
        <ion-label>
            <h2>Member name</h2>
            <ul>
                <li>Seva 1</li>
                <li>Seva 2</li>
            </ul>
            <p>Total amount: ₹1200</p>
            <p>Mode of Payment: <b>Cash</b></p>
        </ion-label>
        <ion-badge slot="end" color="success">Success</ion-badge>
    </ion-item>
    <ion-item>
        <ion-label>
            <h2>Member name</h2>
            <ul>
                <li>Seva 1</li>
                <li>Seva 2</li>
            </ul>
            <p>Total amount: ₹1200</p>
            <p>Mode of Payment: <b>Online</b></p>
            <p>Code: <b>scjg8789dsk9989u987</b></p>
        </ion-label>
        <ion-badge slot="end" color="danger">Rejected</ion-badge>
    </ion-item>
</ion-list>